@charset "UTF-8";

h1 {
    text-align: center;
}

.baseball {
    display: flex;
    width: 100%;
}

.field {
    width: 50%;
    position: relative;
    padding: 30%;
    background-color: #5fc274;
}

.lineup {
    width: 40%;
    float: left;
    background-color: #5fc274;
}

input {
    z-index: 1;
    position: absolute;
    outline: solid 1px black;
    height: 30px;
    width: 200px;
}

.P {
    top: 45%;
    left: 32%;
}

.C {
    top: 65%;
    left: 32%;
}

.firstB {
    top: 40%;
    left: 50%;
}

.secondB {
    top: 30%;
    left: 42%;
}

.thirdB {
    top: 40%;
    left: 15%;
}

.SS {
    top: 30%;
    left: 22%;
}

.LF {
    top: 18%;
    left: 15%;
}

.CF {
    top: 10%;
    left: 32%;
}

.RF {
    top: 18%;
    left: 50%;
}

.DH {
    top: 55%;
    left: 45%;
}
.infield {
    position: absolute;
    transform: rotate(-45deg);
    background-color: #D2B48C;
    width: 400px;
    height: 400px;
    top: 25%;
    left: 25%;
}

.base {
    position: absolute;
    background-color: white;
    width: 20px;
    height: 20px;
}
.first {
    bottom: 0;
    right: 0;
}

.second {
    top: 0;
    right: 0;
}

.third {
    top: 0;
    left: 0;
}

.home {
    bottom: 0;
    left: 0;
}

.foulline {
    position: absolute;
    width: 564px;
    border-top: 6px solid white;
}

.left {
    transform-origin: bottom left;
    transform: rotate(-90deg);
    bottom: 0;
    left: 0;
}

.right {
    transform-origin: bottom left;
    bottom: 0;
    left: 0;
}

