/* welcome-css */

body.profilemain {
    margin: 0;
}

header.top {
    background-image: url(../img/bgimage2.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > h2 {
    background-color: rgba(255, 255, 255, 0.250);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 3.5rem;
    text-align: center;
}

section.profile,.work,.skills {
    margin-bottom: 30px;
}

section > div.profiletext,.worktext,.skilltext {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

section > h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    margin: 7% 0;
    font-size: 3rem;
}

section > div > img {
    width: 50%;
    margin: 0 20px;
}

ul.text {
    width: 50%;
    list-style-type: none;
    text-align: justify;
    inline-size: auto;
    line-height: 2em;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 40px;
    padding: 0;
}

@media screen and (max-width: 768px) {
    section > div.profiletext,.worktext,.skilltext {
        flex-direction: column;
    }

    section > div > img {
        width: 100%;
        height: auto;
    }

    ul.text {
        font-size: medium;
        text-align: left;
        padding: 0 20px;
    }

    section > h1 {
        font-size: 2rem;
    }

    header > h2 {
        font-size: 2.5em;
    }
}